.ItemFooter{
    width: 30%;
}
.OptionFooter{
    font-size: 20px;
    color: black;
    background-color: #97cdba;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    margin: 20px 0;
    width: 200px;
}
.InfoSection{
    width: 20%;
}
.Quantity{
    width: 50%;
}
.ItemHeader{
    font-size: 20px;
}