img{
    width: 100px;
    height: 100px;
}
.CardItem{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.ItemFooter{
    display: flex;
    align-items: center;
}