.Form{
    display: flex;
    flex-direction: column;
    margin: 1.5em 0;
    background-color: #1b6e51;
    justify-content: center;
    align-items: center;
    margin-inline: 20%;
}
.Title{
    font-size: 2em;
    color: black;
}
.InputForm{
    margin: 15px 40px;
    width: 45%;
}

.SubmitButton{
    margin-bottom: 1.5em;
    height: 3em;
    width: 7em;
    background-color: #97cdba;
    font-size: 15px;
    border-radius: 9px;
    border: 2px solid black;
}
