.Counter{
    background-color: #97cdba;
    display: flex;
    justify-content: center;
    width: 70%;
    height: 60px;
    border-radius: 10px;
}
.Controls{
    display: flex;
    align-items: center;
}
.Button{
    background-color: white;
    font-size: 24px;
    border-radius: 15px;
    height: auto;
    width: auto;
}
.ButtonAdd{
    background-color: white;
    border-radius: 8px;
    font-size: 14px;
    height: 40px;
    width: 130px;
    margin-left: 20px;
}
.Number{
    padding: 0 10px;
}